<!DOCTYPE html>
<html lang="en">
<head>
  <title>AJAX PWM Interface -- basic access to PWM parameters</title>
  <script type="text/javascript" src="/javascript/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/javascript/jquery-ui/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/javascript/jquery-mobile/jquery.mobile.js"></script>
  <script type="text/javascript" src="/javascript/flot/jquery.flot.js"></script>
  <!-- TODO: make this reference the actual static root configuration -->
  <script type="text/javascript" src="/apwm/static/js/ajax.js"></script>
  <script type="text/javascript" src="/apwm/static/js/basic.js"></script>
  <link rel="stylesheet" type="text/css" href="/javascript/jquery-ui-themes/sunny/jquery-ui.min.css"/>
  <link rel="stylesheet" type="text/css" href="/javascript/jquery-mobile/jquery.mobile.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    // On load ... 
    $(function(){ init_controller_view(); })
  </script>
</head>
<body><!--style="width:600px;height:300px" --><div id="controller_view"></div></body>
</html>
