<!DOCTYPE html>
<html lang="en">
<head>
  <title>AJAX PWM Interface</title>
  <script type="text/javascript" src="/javascript/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/javascript/jquery-ui/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/javascript/jquery-mobile/jquery.mobile.js"></script>
  <!-- TODO: make this reference the actual static root configuration -->
  <script type="text/javascript" src="/apwm/static/js/ajax.js"></script>
  <link rel="stylesheet" type="text/css" href="/javascript/jquery-ui-themes/sunny/jquery-ui.min.css"/>
  <link rel="stylesheet" type="text/css" href="/javascript/jquery-mobile/jquery.mobile.css"/>
</head>
<body>

<div class="h1">Welcome to the AJAX PWM interface</div>

<div>
  This software is made to be somewhat modular. Here are a few quick example interfaces to help get started with PWM control.
  <ul>
    <li><a href="basic/">Basic PWM Controls</a></li>
  </ul>
</div>

<div>
  Documentation on bundled technologies. (Advanced)
  <ul>
    <li><a href="/doc/">Comprehensive List</a></li>
    <ul>
      <li><a href="/doc/libjs-flot/examples/">flot</a></li>
      <li><a href="/doc/libjs-jquery-mobile-docs/demos/">jQuery - mobile</a></li>
      <li><a href="/doc/libjs-jquery-ui-docs/">jQuery - UI</a></li>
      <li><a href="/doc/jquery-alternative-doc/">jQuery - Alternative Documentation</a></li>
    </ul>
  </ul>
</div>

</body>
</html>
